@import '../../../../vendor/filament/filament/resources/css/theme.css';

:root {
    --fi-font-family: 'Cairo', sans-serif;
}

html[dir='rtl'] body {
    font-family: 'Cairo', sans-serif;
}

[dir='rtl'] table th,
[dir='rtl'] table td {
    text-align: right;
}

[dir='rtl'] .fi-section-content-ctn {
    text-align: right;
}
